




#header {
  border: 2px solid black;
  height: 100px;
  width: 40%;
  text-align: center;
  margin: auto;
  padding-top: 20px;

}

h2{
  font-family: 'Duru Sans', sans-serif;
  text-align: center;
}



p{
  font-family: 'Duru Sans', sans-serif;
  margin-left: 10px;
}

#content{
   margin: auto;
   font-size: 14px;
   width: 80%;
}

hr{
  width: 100%;
}

ul li{
  font-family: 'Duru Sans', sans-serif;
}

/* Blog Index CSS */



#body-background{
  background-image: url("../blog/sunset.jpg");
  background-repeat: no-repeat;
  background-position: center left;
}

#blog-header{
   font-family: 'Duru Sans', sans-serif;
   text-align: center;
}


#culture{
   margin-top: -240px;
   margin-left: 18%;
}

.blog-list{
  padding-top: 15px;
  padding-bottom: 30px;
  font-family: 'Duru Sans', sans-serif;
  margin-left: 30%;
  margin-top: 80px;
  font-size: 15px;
  border: 2px solid black;
  height: 220px;
  width: 500px;
  background-color: black;
}



.blog-list li {
   margin-left: 130px;
   color:white;
   text-decoration: none;
   list-style-type: none;
   line-height: 24px;
}

.blog-list a{
  color:white;
  text-decoration: none;
  margin-right: 140px;
}

#tech


.blog-list #non-tech{
     margin-left: 50px;
     margin-bottom: -100px;
}

#non-tech  {
   margin-left: 30%;
   margin-top: -2px;
   positon:relative;
   float:left;
}

#non-tech li a {
   margin: 0 auto;
   line-height: 24px;
   margin-left: 1px;
   padding-top: 480px;
}


