




#header {
  border: 2px solid black;
  height: 100px;
  width: 40%;
  text-align: center;
  margin: auto;
  padding-top: 20px;

}

h2{
  font-family: 'Duru Sans', sans-serif;
  text-align: center;
}



p{
  font-family: 'Duru Sans', sans-serif;
  margin-left: 10px;
}

#content{
   margin: auto;
   width: 80%;
}

ul li{
  font-family: 'Duru Sans', sans-serif;
}

/* Blog Index CSS */

#body-background{
  background-image: url("../blog/sunset.jpg");
  background-repeat: no-repeat;
  background-position: center left;
}

#blog-header{
   font-family: 'Duru Sans', sans-serif;
   text-align: center;
}

.blog-section {
  font-family: 'Duru Sans', sans-serif;
  font-size: 20px;
  margin-left: 350px;
}

.blog-list{
  padding-top: 15px;
  font-family: 'Duru Sans', sans-serif;
  margin-left: 38%;
  font-size: 18px;
  border: 2px solid black;
  height: 220px;
  width: 500px;
  margin-top: 38px;
  margin-left: 400px;
  background-color: black;
}

.blog-list li {
   margin-left: 100px;
   color:white;
   text-decoration: none;
}

.blog-list a{
  color:white;
  text-decoration: none;
}

.blog-list #non-tech{
     margin-left: 100px;
}

#non-tech  {
   padding-top: 20px;
}

#non-tech li a {
   margin: 0 auto;
}


