html {
  background-color: white;
}


#navbar{
  width: 100%;
  background-color: black;
}
#navbar ul li{
  list-style-type: none;
  display: inline;
  margin-left: 200px;
  text-decoration: none;
  font-family: 'Duru Sans', sans-serif;
  width: 100%;
}

a{
  text-decoration: none;
  color:white;
}

li:hover{
  color:black;
}

#content{
  border: 2px solid black;
  margin-top: 0px;
  height: 100%;
  width: 100%;
  background-color: white;
  background-image: url("../stylesheets/websitedemophoto.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

#content h1 {
  font-family: 'Duru Sans', sans serif;
  color: white;
  text-align:center;
  margin-top: 60px;
  position: relative;
}

#content h4{
  font-family: 'Duru Sans', sans serif;
  color: white;
  text-align: center;
  margin-top: 10px;

}

#content .overlay{
  border: 2px solid black;
  height: 220px;
  width: 500px;
  margin-top: 130px;
  margin-left: 400px;
  background-color: black;

}

#content .overlay i {
  margin-left: 100px;

}

i{
  color: white;
}

/* About page styles below */

html{
  background-color: black;
}
#about {
  color: white;
  font-family: 'Duru Sans', sans-serif;
  width: 50%;
  margin-top: 200px;
  margin-left: 320px;
}

h1{
    text-align: center;
}

/* Projects page styles below */

.project_text{
  color:white;
  font-family: 'Duru Sans', sans-serif;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  padding-top: 160px;
}

 .project_text li:hover{
  color: white;
}

.project_text h2{
  margin-bottom: 100px;
}



